@media screen and (min-width: 1024px) and (max-width: 1200.9px) {
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #232323;
}

.main{
    height: 85vh;
    background-image: url(/assets/img/bg.jpg);
    background-size: max(1415px, 100vw);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

nav{
    display: flex;
    width: 75vw;
    padding: 24px 0px;
    justify-content: space-between;
    margin: auto;
    height: 48px;
}

nav span img{
    width: 148px;
    position: relative;
    z-index: 10;
}

nav div button{
    position: relative;
    z-index: 10;
}

nav .btn-lang{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 16px;
    border: 1px solid rgba(255, 255, 255, 0.425);
}
nav .btn-red-sm{
    background-color: #e50914;
    padding: 4px 16px;
    cursor: pointer;
}

.btn{
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.btn-red{
    background-color: #e50914;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
}

.main .box{
    height: 85vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

.main-center input{
    padding: 15px 24px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.425);
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.main-center .main-center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.main-center{
    text-align: center;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 48px);
    position: relative;
    gap: 20px;
    padding: 0px 30px;
}

.main-center > :nth-child(1){
    /* font-family: 'Poppins', 'sans-serif'; */
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}

.main-center > :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.main-center > :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.first{
    display: flex;
    color: white;
    position: relative;
    padding: 0px 130px;
    background-color: #010001;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
}

.first-text{
    font-size: 15px;
}

.strong{
    font-size: 35px;
    font-weight: 900;
    line-height: 40px;
}

.first-img img{
    width: 600px;
    position: relative;
    z-index: 10;
}

.first-img video{
    width: 450px;
    position: absolute;
    top: 95px;
    right: 200px;
}

.second{
    display: flex;
    color: white;
    position: relative;
    padding: 0px 180px;
    background-color: #010001;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
}

.second-img img{
    padding: 50px;
    width: 30vw;
    position: relative;
    z-index: 10;
}

.third{
    display: flex;
    color: white;
    position: relative;
    padding: 0px 130px;
    background-color: #010001;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
}

.third-img img{
    width: 600px;
    position: relative;
    z-index: 10;
}

.third-img video{
    width: 345px;
    position: absolute;
    top: 30px;
    right: 260px;
}

.faq{
    background-color: #010001;
    color: white;
    margin-top: 10px;
    /* text-align: center; */
}

h2{
    text-align: center;
    padding: 20px;
}

.faq-box{
    transition: all 0.5s ease-out;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #2E2D2E;
    width: 60vw;
    height: 10vh;
    margin: 10px auto;
}

.faq-box:hover{
    background-color: #414141;
    cursor: pointer;
}

.sta{
    text-align: center;
    margin-top: 20px;
}

.sta span{
    color: #AFAFAF;
}

.sta-btn{
    padding: 20px 0px;
}

.sta-btn input{
    padding: 15px 24px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.425);
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.sta-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

footer{
    background-color: #010001;
    margin-top: 10px;
    padding: 60px 0px;
    color: white;
}

.main-foot{
    width: 60vw;
    margin: auto;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer span{
    color: #AFAFAF;
}

footer span a{
    color: #AFAFAF;
}

.footer-item{
    display: flex;
    flex-direction: column;
}

.footer-item a{
    color: #AFAFAF;
    padding: 10px 10px;
}

.main-foot .btn-lang{
    margin: 20px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 16px;
    border: 1px solid rgba(255, 255, 255, 0.425);
}

#netflix{
    color: #AFAFAF;
}
}